/**
 * 8.9 - >= 1600px
 */

@include media(diagonal) {
    .is-open .menu-inside-wrapper {
        right: 3%;
    }

    body {
        font-size: 21px;
        font-size: 1.3125rem;
    }

    #sticky-playlist-section .wp-playlist-caption,
    #sticky-playlist-section .wp-playlist-item-title,
    #sticky-playlist-section .wp-playlist-item-length,
    #sticky-playlist-section .catch-revolution-mejs-container.mejs-container .mejs-time,
    .archive-posts-wrapper .entry-meta a,
    .menu-label,
    .menu-toggle,
    .menu-toggle-close,
    .dropdown-toggle,
    .search-toggle:before,
    .search-submit:before,
    .cart-contents:before,
    .main-navigation a,
    .service-section .entry-category {
        font-size: 16px;
        font-size: 1rem;
    }

    ul.products li.product .price,
    .menu-toggle,
    .events-content-wrapper .date-month-year {
        font-size: 18px;
        font-size: 1.125rem;
    }

    .home .header-media .entry-title,
    #feature-slider-section .entry-title {
        font-size: 96px;
        font-size: 6rem;
    }

    .entry-content h1,
    .entry-summary h1,
    .comment-content h1,
    .textwidget h1 {
        font-size: 58px;
        font-size: 3.625rem;
    }

    .page .site-main .entry-title,
    .single .site-main .entry-title {
        font-size: 56px;
        font-size: 3.5rem;
    }

    #footer-instagram .widget-title,
    .custom-header-content .section-title,
    .entry-content h2,
    .entry-summary h2,
    .comment-content h2,
    .textwidget h2,
    .section-title,
    .page-title,
    #contact-section .entry-title,
    #app-section .section-title,
    #hero-section .entry-title {
        font-size: 49px;
        font-size: 3.0625rem;
    }

    .entry-content h3,
    .entry-summary h3,
    .comment-content h3,
    .textwidget h3,
    .layout-one .archive-post-wrap .hentry .entry-title {
        font-size: 36px;
        font-size: 2.25rem;
    }

    .entry-content h4,
    .entry-summary h4,
    .comment-content h4,
    .textwidget h4,
    .post-navigation .nav-links,
    #feature-slider-section .entry-content p,
    .comment-reply-title,
    .events-content-wrapper .date-week-day,
    .events-content-wrapper .entry-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .entry-content h5,
    .entry-summary h5,
    .comment-content h5,
    .textwidget h5,
    .author-description .author-title,
    .author-description .author-title,
    .featured-content-wrapper .entry-title,
    .portfolio-content-wrapper .entry-title,
    .service-content-wrapper .entry-title,
    .team-content-wrapper .entry-title,
    .contact-content-wrapper .entry-title,
    .logo-slider-content-wrapper .entry-title,
    .archive-post-wrap .hentry .entry-title {
        font-size: 24px;
        font-size: 1.5rem;
    }

    .entry-content h6,
    .entry-summary h6,
    .comment-content h6,
    .textwidget h6,
    #contact-section .sub-title,
    #promotion-section .sub-title,
    #feature-slider-section .sub-title,
    .custom-header-media .custom-header-content-wrapper .sub-title {
        font-size: 18px;
        font-size: 1.125rem;
    }

    #footer-instagram .widget-title {
        font-size: 48px;
        font-size: 3rem;
    }

    #testimonial-content-section .entry-title {
        font-size: 24px;
        font-size: 1.5rem;
    }

    #feature-slider-section .owl-dot:before {
        font-size: 32px;
        font-size: 2rem;
    }

    #feature-slider-section .owl-dot.active:before {
        font-size: 70px;
        font-size: 4.375rem;
    }


    #feature-slider-section .owl-dot {
        font-size: 15px;
        font-size: 0.9375rem;
    }

    #stats-section .entry-title {
        font-size: 42px;
        font-size: 2.625rem;
    }

    .sidebar .widget {
        padding: 49px 55px;
        margin-bottom: 56px;
    }

    .comments-area {
        padding-top: 35px;
        margin-top: 35px;
    }

    .footer-widget-area {
        padding: 84px 0;
    }

    .team-content-wrapper .entry-container {
        padding: 28px;
    }

    #team-dots {
        max-width: 601px;
    }

    .archive-post-wrap .hentry .entry-container {
        padding: 56px;
    }

    .archive-post-wrap .hentry .entry-container {
        padding: 42px;
    }

    #team-dots li {
        margin-right: 35px;
    }

    .widget-column.above-footer {
        padding-top: 140px;
    }

    #testimonial-content-section .wrapper {
        padding-top: 152px;
        padding-bottom: 100px;
    }

    .service-section.section.no-section-heading {
        padding-top: 70px;
    }

    .playlist-content-wrapper .entry-container {
        padding: 110px 0 0 120px;
    }

    .single .site-main .entry-header,
    .page .site-main .entry-header,
    .archive .page-header,
    .error404 .page-header,
    .search .page-header,
    .woocommerce-products-header {
        margin-bottom: 83px;
    }

    body #playlist-section .wp-playlist {
        margin-bottom: 42px;
        margin-top: 42px;
    }

    .playlist-content-wrapper.content-align-left .entry-container {
        padding-left: 0;
        padding-right: 63px;
    }

    .entry-summary,
    .entry-content {
        margin: 35px 0 0;
    }

    #footer-newsletter .widget {
        padding: 49px 50px;
    }

    .section.no-section-heading {
        padding-top: 70px;
    }

    #testimonial-content-section.section.no-section-heading {
        padding: 0;
    }

    #hero-section .wrapper {
        padding: 91px 30px;
    }

    #footer-instagram .widget-title {
        margin: 84px auto 42px;
    }

    #team-dots li:after {
        bottom: -35px;
    }

    #catch-revolution-logo-slider-section {
        padding: 70px 0;
    }

    .hero-content-wrapper .entry-container {
        padding-bottom: 152px;
        padding-top: 152px;
    }

    .content-align-right .hero-content-wrapper .entry-container {
        padding-left: 140px;
    }

    .contact-us-form form {
        margin-top: 46px;
    }

    .site-header-logo {
        max-width: 100%;
    }

    .archive-post-wrap .entry-container {
        padding: 35px;
    }

    #footer-menu-section .wrapper {
        padding: 0 20px;
    }

    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce button.button.alt,
    .woocommerce input.button,
    .woocommerce input.button.alt {
        padding: 14px 35px;
    }

    .catch-revolution-mejs-container.mejs-container .mejs-controls {
        padding: 15px 28px;
    }

    #sticky-playlist-section .wp-playlist-current-item {
        padding: 10px 21px 10px 0;
    }

    #sticky-playlist-section .catch-revolution-mejs-container.mejs-container .mejs-controls {
        padding: 15px 0;
    }

    .events-section.section.no-section-heading {
        padding-top: 70px;
    }

    #contact-section .hentry {
        padding: 49px;
    }

    .team-content-wrapper .entry-summary, .team-content-wrapper .entry-content {
        padding-right: 50px;
    }

    #testimonial-content-section .owl-prev,
    #testimonial-content-section .owl-next {
        padding: 14px;
        width: 50px;
    }

    #testimonial-content-section .section-content-wrapper .entry-summary,
    #testimonial-content-section .section-content-wrapper .entry-content  {
        margin: 0 0 42px;
    }

    blockquote.alignleft {
        padding: 0 0 0 35px;
    }

    blockquote.alignright {
        padding: 0 35px 0 0;
    }

    .section-content-wrapper .post-thumbnail {
        margin-bottom: 42px;
    }

    #stats-section .section-content-wrapper .post-thumbnail {
        margin-bottom: 28px;
    }

    #feature-slider-section .owl-prev .icon,
    #feature-slider-section .owl-next .icon {
        width: 40px;
        height: 40px;
    }

    .section-content-wrapper .entry-summary,
    .section-content-wrapper .entry-content {
        margin-top: 35px;
    }

    .content-area .site-main .section-content-wrapper .entry-summary,
    .content-area .site-main .section-content-wrapper .entry-content {
        margin-top: 28px;
    }

    .app-image-container {
        margin-top: 42px;
    }

    #featured-content-section .hentry .entry-container {
        padding: 42px;
    }

    .section {
        padding: 42px 0;
    }

    body:not(.home) .site-content .wrapper,
    body:not(.home) .site-content .archive-content-wrap {
        padding-bottom: 154px;
        padding-top: 154px;
    }

    .archive-posts-wrapper .section-content-wrapper .entry-content {
        margin-top: 28px;
    }

    .archive-posts-wrapper .section-content-wrapper .entry-header .entry-title+.entry-meta {
        margin-top: 21px;
        margin-bottom: 0;
    }

    .more-link {
        margin: 42px 0 0;
    }

    .site-content > .wrapper {
        padding: 56px 30px 124px;
    }

    #promotion-section.content-align-center .entry-container-frame {
        padding: 56px;
    }

    .service-content-wrapper .entry-category,
    .service-content-wrapper .entry-title,
    .service-content-wrapper .entry-meta {
        margin-bottom: 21px;
    }

    .navigation-classic {
        .main-navigation a,
        #primary-menu-wrapper .search-container{
            padding: 9px 15px;
        }

    }

    .navigation-classic .main-navigation ul ul a {
        padding: 7px 30px;

    }

    #catch-revolution-logo-slider-section .owl-prev {
        left: -75px;
    }

    #catch-revolution-logo-slider-section .owl-next {
        right: -75px;
    }

    #stats-section {
        padding-top: 122px;
    }
}
